/*

img{
    width: 100%;
    height: auto;
}

html, body, .cover{
    height: 100%;
}

.cover{
    background: url('Wallpaper.jpg') top left no-repeat;
    background-size: cover;
    margin-top: -25px;
    display: table;
    width: 100%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text{
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.cover-text h1{
    margin: 0;
    font-size: 70px;
    letter-spacing: -3px;
}

@media only screen and (max-width: 568px){

}

*/
html, body, .cover{
    height: 100%;
}

.cover{
   /*background: url('Wallpaper.jpg') top left no-repeat;*/
    background-size: cover;
    margin-top: -25px;
    display: table;
    width: 100%;

}


.cover-text{
    font-family: sans-serif;
    text-align: center;
    color: black;
}

.cover-text h1{
    font-size: 64px;
    letter-spacing: -5px;
    color: #00aeef;
}

.checkbox{
    font-family: monospace;
    color: black;
}
img{
    width: 100%;
    height: auto;
}


.highlighted {background-color: #fffbcc }

@media only screen and (max-width: 768px){
    .cover{
        padding: 10px;
    }


}

@media only screen and (max-width: 368px){
   .cover-text h1{
        font-size: 45px;
    }


}


