{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>RajDoot</title>
    <link rel="shortcut icon" href={% static "icon.png" %}>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href={% static "searchWebsite-css.css" %} rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src={% static "headerLogo.png" %}></a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
            <ul class="nav navbar-nav">

            <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Sign Up<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="">Log in<span class="glyphicon glyphicon-user pull-right"></span></a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="">Settings<span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                </ul>
            </li>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">How to use?</a></li>
            <li><a href="#">Contribute</a></li>
            <li><a href="#">About</a></li>
            </ul>

        </div>

    </div>
    </nav>

     <br>
    <br>
    <div class="cover">
        <div class="cover-text">
        <h1>RajDoot</h1>
            <p class="lead">Bring you closer to government</p>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
              <img src={% static "home.png" %}>
            </div>
        </div>
        <div class="row">

        </div>
        <br>
        <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3  col-xs-12">

      {% block content %}
        <form>
            <div class="input-group">

              <input type="search" name="q" id="search" class="form-control input-lg" placeholder="search here" />
                <span class="input-group-btn">
                <button class="btn btn-warning btn-lg" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>

        {% if query %}
          <div id="results">
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                <a href="/{{ result.object.id }}/{{ query }}">{{ result.object.title }}</a>
                </p>
                {% load highlight %}{% highlight result.object.body with query %}
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

        </div>
        </div>

    </div>



{% endblock %}


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
